.social-icons{
    
    flex-direction: row;
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 1.2rem;
    box-shadow: 0 4px 4px #0004;
}
.social-icons:hover{
    background-color: var(--cor-principal);
    transform: translateY(-5px);
    transition: 500ms;
    color: var(--font-branca);
}